# Listening settings
port 1194
proto udp
dev tun

# TLS setup
ca ca.crt
cert server.crt
key server.key
dh dh2048.pem

# Server setup
server 10.8.0.0 255.255.255.0
server-ipv6 2a01:4f8:1c1c:9761:42::/112

# Persistence
ifconfig-pool-persist /var/log/openvpn/ipp.txt
persist-key
persist-tun

# Push default settings to clients
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 1.1.1.1"
push "dhcp-option DNS 1.0.0.1"
push "dhcp-option DNS 2606:4700:4700::1111"
push "dhcp-option DNS 2606:4700:4700::1001"

# TLS auth
tls-auth ta.key 0 # This file is secret
key-direction 0
cipher AES-256-CBC
auth SHA256

# Sandboxing
user nobody
group nogroup

# Logging
status /var/log/openvpn/openvpn-status.log
verb 3

# Various other
keepalive 10 120
explicit-exit-notify 1
