# Managed by ansible

# Ensure local email can be delivered - map user@host to user
auth_username_format = %Ln

# Deliver to Maildir
mail_location = maildir:~/Maildir:LAYOUT=fs

mail_privileged_group = mail

mail_attribute_dict = file:%h/Maildir/dovecot-attributes
mail_plugins = $mail_plugins mail_crypt

plugin {
  mail_crypt_curve = secp521r1
  mail_crypt_save_version = 2
  mail_crypt_require_encrypted_user_key = yes
}


# Configuration of directories
namespace inbox {
  inbox = yes
  location = 
  prefix = 

  mailbox Drafts {
    special_use = \Drafts
    auto = subscribe
  }

  mailbox Junk {
    special_use = \Junk
    auto = subscribe
  }

  mailbox Trash {
    special_use = \Trash
    auto = subscribe
  }

  mailbox Sent {
    special_use = \Sent
    auto = subscribe
  }

  mailbox Archives {
    special_use = \Archive
    auto = subscribe
  }
}

# Use PAM for authentication
passdb {
  driver = pam
  override_fields = userdb_mail_crypt_private_password=%{sha256:password} userdb_mail_crypt_save_version=2
}

userdb {
  driver = passwd
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0666
    user = postfix
  }
  unix_listener auth-userdb {
  }
}


# Load plugins
plugin {
  sieve = file:~/sieve;active=~/.dovecot.sieve
  sieve_plugins = sieve_extprograms
  sieve_extensions = +vnd.dovecot.filter
  sieve_filter_bin_dir = /usr/local/lib/dovecot-sieve-filters
}

# Setup protocols
protocols = "imap lmtp"

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0600
    user = postfix
  }
}

protocol lmtp {
  mail_plugins = $mail_plugins sieve
}

# Setup IMAP encryption
ssl_cert = </etc/letsencrypt/live/{{ domains[0].cname }}/fullchain.pem
ssl_client_ca_dir = /etc/ssl/certs
ssl_key = </etc/letsencrypt/live/{{ domains[0].cname }}/privkey.pem
ssl_min_protocol = TLSv1.2
