# Managed by ansible
dovecot_config_version = 2.4.2
dovecot_storage_version = 2.4.2

# Ensure local email can be delivered - map user@host to user
auth_username_format = %{user | username | lower}

# Deliver to Maildir
mail_driver = maildir
mail_path = ~/Maildir
mailbox_list_layout = fs

mail_privileged_group = mail
mail_attribute {
  dict file {
    path = %{home}/Maildir/dovecot-attributes
  }
}

# Mail crypt
mail_plugins {
  mail_crypt = yes
}

crypt_user_key_curve = secp521r1
crypt_user_key_require_encrypted = yes


# Configuration of directories
namespace inbox {
  inbox = yes

  mailbox Drafts {
    special_use = \Drafts
    auto = subscribe
  }

  mailbox Junk {
    special_use = \Junk
    auto = subscribe
  }

  mailbox Trash {
    special_use = \Trash
    auto = subscribe
  }

  mailbox Sent {
    special_use = \Sent
    auto = subscribe
  }

  mailbox Archives {
    special_use = \Archive
    auto = subscribe
  }
}

# Use PAM for authentication
passdb pam {
  driver = pam

  fields {
    userdb_mail_crypt_private_password = %{sha256:password}
    userdb_mail_crypt_save_version = 2
  }
}

userdb passwd {
  driver = passwd
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0666
    user = postfix
  }
  unix_listener auth-userdb {
  }
}


# Load plugins
sieve_filter_bin_dir = /usr/local/lib/dovecot-sieve-filters
sieve_plugins = sieve_extprograms

sieve_script personal {
  active_path = ~/.dovecot.sieve
  driver = file
  path = ~/sieve
}

sieve_extensions {
  vnd.dovecot.filter = yes
}


# Setup protocols
protocols = "imap lmtp"

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0600
    user = postfix
  }
}

protocol lmtp {
  mail_plugins {
    sieve = yes
  }
}

# Setup IMAP encryption
ssl_client_ca_dir = /etc/ssl/certs
ssl_min_protocol = TLSv1.2

ssl_server {
  cert_file = /etc/letsencrypt/live/{{ domains[0].cname }}/fullchain.pem
  key_file = /etc/letsencrypt/live/{{ domains[0].cname }}/privkey.pem
}
