# Ansible managed
[Unit]
Description=bitwarden_rs service

[Service]
EnvironmentFile=/etc/default/bitwarden_rs
ExecStart=/usr/local/bin/bitwarden_rs
DynamicUser=yes
NoNewPrivileges=true
PrivateDevices=true
ProtectHome=yes
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
StateDirectory=bitwarden_rs
CapabilityBoundingSet=
ProtectKernelLogs=true
ProtectHostname=true
ProtectClock=true
PrivateUsers=true
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallArchitectures=native

[Install]
WantedBy=default.target
